html.open-modal {
  overflow: hidden;

  body {
    // padding-right: 17px;
  }
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  background: rgba(12, 12, 12, 0.6);
  /*Размытие фона*/
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  position: relative;
  padding: 40px 50px;
  max-width: 584px;
  min-height: 620px;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  border-radius: 20px;
  //background: $blue;
  //background-image: url("../images/dest/bg/form-gb.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;


  &.form-modal{
    //display: none;
  }
  &.sucsess{
    display: none;
    min-height: 308px;
    //display: flex;
    justify-content: center;
    align-items: center;
  }
  @include mmax(767) {
    padding: 55px 18px 40px 18px;
    min-height: 311px;
    border-radius: 10px;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
  @include mmax(767) {
    margin-bottom: 40px;
  }
}

.modal__title {
  margin: 0 auto;
  //font-family: $font1;
  font-weight: bold;
  font-size: 50px;
  line-height: 70px;
  text-align: center;
  //color: $white;
  @include mmax(767) {
    font-size: 35px;
    line-height: 45px;
  }
}

.modal__close:before {
  content: "\2715";
  font-size: 22px;
  //color: $white;
  transition: all 0.3s;
}

.modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 25px;
  right: 25px;
  background: transparent;
  border: 0;

  &:focus {
    outline: none;
  }

  &:hover {
    &:before {
      //color: $red;
    }
  }

  @include mmax(767) {
    top: 15px;
    right: 15px;
  }
}

.modal__header .modal__close {
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);

  &_sucsess{
    display: flex;
    align-items: center;
    justify-content: center;
    .sucsess__title{
      white-space: pre-line;
      //font-family: $font2;
      font-weight: normal;
      font-size: 30px;
      line-height: 44px;
      text-align: center;
      //color: $white;
    }
  }

}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

/**************************\
    Demo Animation Style
  \**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}